<i class="material-icons prefix">perm_contact_calendar</i>
<input id="date" input-date
       tabindex="tabindex"
       type="text"
       name="date"
       ng-model="expense.Date"
       container=""
       format="mm/dd/yyyy"
       months-full="{{ timePickerConfig.month }}"
       months-short="{{  timePickerConfig.monthshort }}"
       weekdays-full="{{  timePickerConfig.weekdaysfull }}"
       weekdays-short="{{  timePickerConfig.weekdaysshort }}"
       weekdays-letter="{{  timePickerConfig.weekdaysletter }}"
       disable="disable"
       min="{{  timePickerConfig.mindate }}"
       max="{{  timePickerConfig.maxdate }}"
       today="today"
       first-day="1"
       clear="clear"
       close="close"
       select-years="15"
       on-start="onstart()"
       on-render="onrender()"
       on-open="onopen()"
       on-close="onclose(this)"
       on-set="onset()"
       on-stop="onstop()" class="datepicker" required />
